<?xml version="1.0" encoding="UTF-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <!--连接Main服务器的IP、端口-->
    <add key="IpAddress" value="192.168.199.212" />
    <add key="EndPoint" value="8765" />
    <!--Web_TC 的Access数据库连接路径-->
    <!--<add key="DBName" value="Web_TC.accdb" />-->
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <system.webServer>
    <directoryBrowse enabled="true" />
    <defaultDocument>
      <files>
        <add value="Login.html" />
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>